---
import { CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import Lines from "../components/Lines";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layout/Layout.astro";

const {data} = await getEntryBySlug('pages', '_homepage') as CollectionEntry<'pages'>
const profiles = await getCollection('profiles')

export const prerender = true
---

<Layout description={data.description} {...data.meta}>
  <div class="bg-gradient-to-b from-slate-200 to-slate-50 dark:from-slate-900 dark:to-slate-800" slot="header">

    <Nav />

    <header class="relative md:min-h-[calc(100vh-32rem)] p-8 mx-auto flex flex-row items-end">
      <div class="absolute -bottom-6 right-0 w-96 h-96 z-0">
        <Lines />
      </div>

      <div class="lg:basis-[40%]" />
      <div class="relative max-w-[50rem] absolute bottom-0">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-slate-800 dark:text-slate-100 font-mono">{data.title}</h1>
      </div>
    </header>
  </div>

  <section class="border-t md:border-b border-slate-200 dark:border-slate-700">
    <div class="max-w-[70rem] mx-auto grid grid-cols-1 md:grid-cols-2 [&>*]:border-b [&>*]:md:border-b-0 [&>:nth-child(2n-1)]:md:border-r">
      <div class="flex flex-col gap-4 border-slate-200 dark:border-slate-700 p-8">
        <h2 class="text-xl md:text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">We are here to help with</h2>
        <ul class="list-disc list-inside flex flex-col gap-2 text-slate-600 dark:text-slate-400">
          <li>IT Leadership</li>
          <li>Remote Workers</li>
          <li>Students</li>
          <li>Joining The Industry</li>
        </ul>
        <a href="/about">
          <button class="w-fit border-2 border-slate-200 dark:border-slate-600 hover:border-slate-800 dark:hover:border-slate-400 rounded-xl px-4 py-2 text-slate-500 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-200 font-mono">
            Learn more
          </button>
        </a>
      </div>
      <aside class="flex flex-col gap-4 p-8">
        <h2 class="text-xl md:text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">Join the alliance</h2>
        <ul class="list-disc list-inside flex flex-col gap-2 text-slate-600 dark:text-slate-400">
          <li>Local Individuals</li>
          <li>Remote Individuals</li>
          <li>Companies</li>
          <li>Organizations</li>
        </ul>
        <button class="w-fit border-2 border-slate-200 dark:border-slate-600 hover:border-slate-800 dark:hover:border-slate-400 rounded-xl px-4 py-2 text-slate-500 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-200 font-mono" data-drawer="join">
          Join now
        </button>
      </aside>
    </div>
  </section>

  <section id="community" class="w-full mx-auto">
    <h2 class="px-8 max-w-[70rem] mx-auto text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">Meet the community</h2>
    <div class="flex flex-row w-screen py-8 px-8 overflow-scroll">
      <div class="w-[min-content] flex flex-row gap-2">
        <div class="hidden lg:block basis-[calc((100vw-100%)/2-15.5rem)] grow-0 shrink-0" />
        {profiles.map(profile => (
          <a href={`/news/${profile.slug}`} class="grow-0 shrink-0 basis-[calc(100vw-4rem)] md:basis-96 h-[30rem] hover:scale-110 hover:shadow-lg hover:z-10 transition-all">
            <div class={`relative md:basis-96 h-[30rem] rounded-3xl bg-cover overflow-hidden p-8 flex flex-col justify-end`} style={`background-image: url('${profile.data.photo}');`}>
              <div class="absolute z-0 top-0 right-0 bottom-0 left-0 bg-gradient-to-t from-black to-transparent" />
              <div class="relative z-1">
                <h3 class="text text-slate-50 shadow-sm font-bold text-xl">{[profile.data.firstName, profile.data.lastName].join(' ')}</h3>
                <p class="text text-slate-300 shadow-sm">{profile.data.title}</p>
              </div>
            </div>
          </a>
        ))}
        <div />
      </div>
    </div>
  </section>

  <section id="partnerships" class="max-w-[70rem] mx-auto flex flex-col md:flex-row gap-6 px-8">
    <h2 class="basis-2/3 shrink-0 grow-0 text-2xl md:text-4xl font-bol text-slate-800 dark:text-slate-100 font-mono">
      We believe in strong partnerships to strengthen the ecosystem
    </h2>
    <div class="flex flex-col items-center gap-2">
      <img src="/images/partnerships/pei-devs.png" class="grow-0 w-48" alt="PEI Devs" />
      <img src="/images/partnerships/asda.png" class="grow-0 w-48" alt="ASDA" />
      <img src="/images/partnerships/atlantic-fintech.png" class="grow-0 w-48" alt="Atlantic Fintech" />
    </div>
  </section>

  <Footer />
</Layout>
